.side-bar
  .side-contents
    .side-top
      .top-left
        りつかチャンネル
      .top-right
        .icon-left
          = link_to"#" do
            =icon('fas','edit')
        .icon-right 
          = link_to"#" do
            =icon('fas','cog')
  .groups
    .side-over
      teccamp
    .side-under
      まだメッセージがありません